/* bagian style dasar */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: poppins, sans-serif;
}

.btn-register {
    padding: 6px 30px;
    background-color: #1F5F8B;
    color: #fff;
    border-radius: 50px;
}

.btn-register:hover {
    background-color: #236c9c;
    color: #fff;
    text-decoration: none;
    transition: .4s ease;
}

.nav-link {
    color: #010101;
    font-weight: 500;
    position: relative;
}

.splide {
    width: 1140px;
    height: auto;
    margin: 0 auto;
}

.splide-track{
    padding: 0 10px;
}

.container .row input {
    background-color: transparent;
    border: none;
    color: #1F5F8B;
    padding: 0;
}

.container .search-section {
    background: #D2ECF9;
    border-radius: 20px;
}

.container .row .col:nth-child(1), .col:nth-child(2) {
    border-right: 2px solid #fff;
}

.btn-search{
    background: #1F5F8B;
    color: #fff;
    width: 200px;
    height: 50px;
    border: none;
    border-radius: 20px;
    transition: .4s ease;
}

.btn-search:hover{
    background: #236c9c;
}

.grid-container{
    display: grid;
    grid-gap: 30px;
    grid-template-columns: auto auto auto;
}

.grid-item-large{
    grid-row: 1 / span 2;
}

h4 span{
    color: #1F5F8B;
}

.footer{
    background: #253B6E;
    padding: 30px;
    color: #fff;
}

.card-search{
    border-radius: 30px;
    border: 1px solid #f8f8f8;
    color: #fff;
    background: #1891AC;
    line-height: 10px;
}

.info-detail{
    background: #253B6E;
    color: #fff;
    padding: 10px;
    border-radius: 15px;
}

.container-grid {
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0 0;
    grid-auto-flow: row;
    grid-template-areas:
      "grid-1 grid-2 grid-4"
      "grid-1 grid-3 grid-4"
      "grid-1 . grid-4";
  }
  
  .grid-2 { 
      grid-area: grid-2;
 }
  
  .grid-3 { grid-area: grid-3; }
  
  .grid-1 { grid-area: grid-1; }
  
  .grid-4 { grid-area: grid-4; }
  

  .btn-buy{
      background: #253C6F;
      color: #fff;
      padding: 10px;
      border: none;
      width: 100%;
      border-radius: 20px;
      margin-top: 50px;
  }

  .rate{
      background: #253C6F;
      color: #fff;
      padding: 5px;
      border-radius: 10px;
  }